@charset "utf-8";
/* CSS Document */


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,700;1,400;1,600&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
	margin: 0;
	top: 0;
	background-color: white;
	overflow-x: hidden;
	
}

/*------------------------------HEADER------------------------------*/
header {
	position:fixed;
	top: 0px;
	width: 100%;
	display: grid;
	grid-template-columns: 2fr 1fr;
	font-family: 'Playfair Display', serif;
	font-weight: 400;	
	height: 3.7rem;
	z-index: 100;

	color: white;
	mix-blend-mode: difference;
}


/*----------Logo----------*/
.logo {
	text-align: left;
	text-overflow: clip;
	white-space: nowrap;
	max-height: 85px;
	margin: 1rem;
	margin-top: 0.5rem;

	color: white;
	mix-blend-mode: difference;
}

.logo h1 {
	
	font-weight: 100;
	font-size: 1.3rem;
	text-transform: uppercase;
}


/*----------NavBar----------*/
nav {
	transform: translateY(0);
}

.nav-list {
	display: flex;
	gap: 1;
	list-style: none;
	text-align: right;

}

nav li {
	flex-grow: 1;
	flex-shrink: 1;
	margin-top: 0.5rem;
	margin-right: 1rem;
}

nav li a {
	text-decoration: none;
	font-weight: 100;
	font-size: 1.3rem;
	text-transform: uppercase;
	color: white;
	mix-blend-mode: difference;
}

.mobile-nav-toggle{
	display: none;
	content: "{menu}";
	position: absolute;
	margin: 1rem;
	margin-top: 0.47rem;
	text-align: right;
	font-family: 'Playfair Display', serif;
	font-size: 1.3rem;
	text-transform: lowercase;
	top: 0px;
	right: 0px;
	cursor: pointer;
	z-index: 1000;
	background: transparent;
	border: none;
	color: white;
}

/*------------------------------CONTENT------------------------------*/
main {
	display: block;
	top: 0;
	left: 0;
	font-family: 'Playfair Display', serif;
	font-weight: 500;

	z-index: 1;
}

/*--------------------------CAROUSEL-----------------------------*/
.carousel{
	height: 100vh;
	width: 100vw;
	max-width: 678px;
	overflow-x: hidden;
	position: relative;
	display: flex;
	justify-content: flex-start;
  }
  
  .carousel-inner{
	height: 100%;
	/* min-width: 400%; */
	display: flex;
	transition: all ease 150ms;
  }
  
  .carousel-item{
	flex: 1;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  }
  
  
  .carousel-item img{
	position: relative;
	max-width: 100%;
	height: 100%;
	object-fit: cover;
	  object-position: center;
	
  }
  .carousel-controls .prev{
	display: inline-block;
	height: 100%;
	width: 50%;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	opacity: .5;
	
  }
  .carousel-controls .next{
	display: inline-block;
	height: 100%;
	width: 50%;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	opacity: .5;
  }
  .prev:hover, .next:hover{
	opacity: 1;
  }
  .carousel-indicators{
	position: absolute;
	bottom: 12px;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
  }
  .carousel-indicators span{
	display: inline-block;
	background-color: rgba(255,255,255,.1);
	width: 30px;
	height: 4px;
	border-radius: 2px;
	opacity: .5;
	cursor: pointer;
	margin: 3px;
  }
  
  .carousel-indicators span.active{
	opacity: 1;
  }

  .carousel-indicators span.active::after{
	content: "";
	opacity: 1;
	display: block;
	left: 0;
	background-color: rgba(255,255,255,.5);
	height: 100%;
	width: 100%;
	animation: timeline linear 3.9s forwards;
  }

  @keyframes timeline {
	0% {
		transform: scale(0, 1);
		transform-origin: left;
	}

	100% {
		
	}
  }

/*------------------------------FOOTER ETC------------------------------*/


.info {
	z-index: 200;
	background-color: white;
}



footer {
	z-index: 200;
	display: block;
	position: relative;
	margin-left: 25%;
	padding-top: 20vh;
	width: 50%;
}

.links {
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
	gap: 1;
	
}

footer p {
	text-align: center;
}

/*------------------------------VIEWPORTING------------------------------*/
@media screen and (max-width: 38rem) {
	
	nav {
		position: fixed;
		right: 0;

		padding-top: 3.7rem;
		width: 100%;
		height: 100%;

		background: rgba(0,0,0,1);
		
		z-index: 120;	


		transform: translateY(-1000%);
	}

	.nav-list {
		display: block;
		text-align: right;
	}
	
	nav li {
		margin-right: 0;
		z-index: 120;
	}
	

	nav ul li a {
		text-decoration: none;
		color: white;
		font-size: 3rem;
	}

	.mobile-nav-toggle {
		display: block;
	}
}
